{% extends 'base.html' %}

{% load i18n %}

{% block content %}
<!--======= Status List Content =======-->
<div class="card bg-light p-3">
<h1>
  {% block title %}
  {% trans 'Statuses' %}
  {% endblock %}
</h1>

<a href="{% url 'statuses:create' %}" class="pb-2">{% trans 'Create status' %}</a>

<div class="table-responsive">
<table class="table table-striped table-hover table-info">

  <thead class="table-primary">
    <tr>
      <th>ID</th>
      <th>{% trans 'Name' %}</th>
      <th>{% trans 'Date of creation' %}</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    {% for status in statuses %}
      <tr>
        <td class="table-primary">{{ status.pk }}</td>
        <td>{{ status.name }}</td>
        <td>{{ status.created_at | date:'d-m-Y H:i' }}</td>
        <td>
          <a href="{% url 'statuses:update' status.pk %}">{% trans 'Edit' %}</a>
          <a href="{% url 'statuses:delete' status.pk %}">{% trans 'Delete' %}</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>

</table><!--======= End Status List Content =======-->
</div>
</div>
{% endblock %}