{% extends 'base.html' %}

{% load i18n django_bootstrap5 %}

{% block content %}
<!--======= Task Delete Content =======-->
<div class="card bg-light p-3">
<h1>
  {% block title %}
  {{ title }}
  {% endblock %}
</h1>

<p>{% trans 'Are you sure you want to delete' %} {{ task.name }}?</p>
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button type="submit" class="btn btn-danger">{% trans 'Yes, delete' %}</button>
</form>
</div><!-- End Task Delete Content -->
{% endblock %}