{% load i18n %}
<nav class="container p-0">
  <ul class="nav">

    <li class="nav-item"><a class="nav-link" href="{% url 'home' %}">{% trans 'Task manager' %}</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'users:list' %}">{% trans 'Users' %}</a></li>

    {% if user.is_authenticated %}
      <li class="nav-item"><a class="nav-link" href="#">{{ user.username }} | {% trans 'Logout' %}</a></li>
    {% else %}
      <li class="nav-item"><a class="nav-link" href="#">{% trans 'Registration' %} | {% trans 'Login' %}</a></li>
    {% endif %}

  </ul>
</nav>